#T_survival_table tr:nth-child(even) {
  background-color: #ececec;
}
#T_survival_table tbody tr:hover {
  background-color: #d9edfd;
}
#T_survival_table thead tr:not(:last-child) .index_name {
  visibility: hidden;
}
#T_survival_table thead tr:nth-child(3) {
  display: none;
}
#T_survival_table tbody td {
  padding: 2px 5px 2px 15px;
  text-align: right;
}
#T_survival_table th {
  padding: 2px 5px 2px 5px;
  text-align: center;
}
#T_survival_table th {
  border-top: none;
  border-bottom: none;
  border-radius: 0px;
}
#T_survival_table  td {
  border-top: none;
  border-bottom: none;
  border-radius: 0px;
}
#T_survival_table  tr {
  border-top: none;
  border-bottom: none;
  border-radius: 0px;
}
#T_survival_table thead tr:first-child th:not(:last-child) {
  border-right: 1px solid #888888;
}
#T_survival_table  th:nth-child(odd):not(:last-child) {
  border-right: 1px solid #888888;
}
#T_survival_table  td:nth-child(odd):not(:last-child) {
  border-right: 1px solid #888888;
}
#T_survival_table  {
  border-collapse: collapse;
}
#T_survival_table_row0_col0, #T_survival_table_row0_col1, #T_survival_table_row0_col3, #T_survival_table_row1_col0, #T_survival_table_row2_col0, #T_survival_table_row3_col0, #T_survival_table_row4_col0, #T_survival_table_row5_col0 {
  background-color: #e2ea67;
}
#T_survival_table_row0_col2, #T_survival_table_row1_col2, #T_survival_table_row2_col2, #T_survival_table_row3_col2, #T_survival_table_row4_col2, #T_survival_table_row5_col2 {
  background-color: #bfe8c2;
}
#T_survival_table_row1_col1, #T_survival_table_row1_col3, #T_survival_table_row2_col1, #T_survival_table_row2_col3, #T_survival_table_row3_col1, #T_survival_table_row3_col3, #T_survival_table_row4_col1, #T_survival_table_row4_col3, #T_survival_table_row5_col1, #T_survival_table_row5_col3 {
  background-color: #efa2a2;
}
</style>
<table id="T_survival_table">
  <thead>
    <tr>
      <th class="index_name level0" >Fuzzer</th>
      <th id="T_survival_table_level0_col0" class="col_heading level0 col0" colspan="2">afl</th>
      <th id="T_survival_table_level0_col2" class="col_heading level0 col2" colspan="2">pst_aflplusplus</th>
    </tr>
    <tr>
      <th class="index_name level1" >Metric</th>
      <th id="T_survival_table_level1_col0" class="col_heading level1 col0" >R</th>
      <th id="T_survival_table_level1_col1" class="col_heading level1 col1" >T</th>
      <th id="T_survival_table_level1_col2" class="col_heading level1 col2" >R</th>
      <th id="T_survival_table_level1_col3" class="col_heading level1 col3" >T</th>
    </tr>
    <tr>
      <th class="index_name level0" >Bug ID</th>
      <th class="blank col0" >&nbsp;</th>
      <th class="blank col1" >&nbsp;</th>
      <th class="blank col2" >&nbsp;</th>
      <th class="blank col3" >&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th id="T_survival_table_level0_row0" class="row_heading level0 row0" >PNG003</th>
      <td id="T_survival_table_row0_col0" class="data row0 col0" >10s</td>
      <td id="T_survival_table_row0_col1" class="data row0 col1" >15s</td>
      <td id="T_survival_table_row0_col2" class="data row0 col2" >10s</td>
      <td id="T_survival_table_row0_col3" class="data row0 col3" >20s</td>
    </tr>
    <tr>
      <th id="T_survival_table_level0_row1" class="row_heading level0 row1" >PNG001</th>
      <td id="T_survival_table_row1_col0" class="data row1 col0" >15s</td>
      <td id="T_survival_table_row1_col1" class="data row1 col1" >6h</td>
      <td id="T_survival_table_row1_col2" class="data row1 col2" >15s</td>
      <td id="T_survival_table_row1_col3" class="data row1 col3" >6h</td>
    </tr>
    <tr>
      <th id="T_survival_table_level0_row2" class="row_heading level0 row2" >PNG004</th>
      <td id="T_survival_table_row2_col0" class="data row2 col0" >15s</td>
      <td id="T_survival_table_row2_col1" class="data row2 col1" >6h</td>
      <td id="T_survival_table_row2_col2" class="data row2 col2" >15s</td>
      <td id="T_survival_table_row2_col3" class="data row2 col3" >6h</td>
    </tr>
    <tr>
      <th id="T_survival_table_level0_row3" class="row_heading level0 row3" >PNG005</th>
      <td id="T_survival_table_row3_col0" class="data row3 col0" >15s</td>
      <td id="T_survival_table_row3_col1" class="data row3 col1" >6h</td>
      <td id="T_survival_table_row3_col2" class="data row3 col2" >15s</td>
      <td id="T_survival_table_row3_col3" class="data row3 col3" >6h</td>
    </tr>
    <tr>
      <th id="T_survival_table_level0_row4" class="row_heading level0 row4" >PNG006</th>
      <td id="T_survival_table_row4_col0" class="data row4 col0" >15s</td>
      <td id="T_survival_table_row4_col1" class="data row4 col1" >6h</td>
      <td id="T_survival_table_row4_col2" class="data row4 col2" >15s</td>
      <td id="T_survival_table_row4_col3" class="data row4 col3" >6h</td>
    </tr>
    <tr>
      <th id="T_survival_table_level0_row5" class="row_heading level0 row5" >PNG007</th>
      <td id="T_survival_table_row5_col0" class="data row5 col0" >15s</td>
      <td id="T_survival_table_row5_col1" class="data row5 col1" >6h</td>
      <td id="T_survival_table_row5_col2" class="data row5 col2" >15s</td>
      <td id="T_survival_table_row5_col3" class="data row5 col3" >6h</td>
    </tr>
  </tbody>
</table>}